/target
/build
/classes
/checkouts
pom.xml.asc
target/*.jar
target/*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.idea
.gradle
*.txt
*.org
secrets.yml
.classpath
.project
.settings
out
bazel-*
/bin
